<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="favicon.ico" />
    <title>Project</title>    

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="<%=baseURL%>styles/custom.css" />

  </head>
  <body>
    
    <% include header %>
    <%
      var answerurl="auth/login";
      var heading = "";
      if(user.firstname)
        heading = "Hi "+user.firstname+"!" ;
      else
        heading = "Hi "+user.username+"!" ;
    %>
    <section class="section">
        <div class="container container-sm">
          <h4 class="welcome-title"> <%= heading %> Your Profile !</h4>
          <div class="white-bg post-block box-shadow">
            <div class="display-flex v-center post-details">
              <div class="user-icon"><img src="<%=baseURL%>assets/images/girl.png"/></div>
            </div>
            <div>
              <h4>First Name: <%= user.firstname %></h4>
              <h4>Last Name: <%= user.lastname %></h4>
              <h4>Username: <%= user.username %></h4>
               <div>
              <%
              var i=0; 
              user.products.forEach(product => {  i++; %>
                    <h5>PRODUCT ID: <%=i %></h5>
                    <div><%=product.state%></div>
                    <div><%=product.market%></div>
                    <div><%=product.variety%></div>
                    <div><%=product.grade%></div>
                  <% }); %>
              </div>
            </div>
          </div>          
        </div>
    </section>
   

    
     <% include footer %>
